@import url('https://fonts.googleapis.com/css?family=Heebo');

div.warning-description {
	padding: 10px;
	border: silver 1px solid;
	border-radius: 5px;
	background-color: #efefef;
	color: #626262;
	font-family: sans-serif;
}

#live-wrapper .ui.table {
	border: solid 1px #b7d2e5;
}
#live-wrapper .ui.table tr {
	min-height: 50px;
}
#live-wrapper .ui.striped.table tbody tr:nth-child(2n), .ui.striped.table>tr:nth-child(2n) {
    background-color: rgba(235, 235, 235, .5);
}
#live-wrapper .ui.table th {
  font-family: Heebo;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.42;
  letter-spacing: 1.9px;
  color: #8dabc4;
  border-left: none;
}
#live-wrapper .ui.table td {
	border-left: none;
	min-height: 11px;
	font-family: Heebo;
	font-size: 13px;
	line-height: 1.46;
	color: #3f536e;
}
#live-wrapper .column.right {
	text-align: right;
}
#live-wrapper table.padded input[type="checkbox"] {
	font-size: 18px;
	object-fit: contain;
	border-radius: 4px;
	background-color: #c5d9e8;
	border: solid 1px #c5d9e8;
}
#live-wrapper .ui.grid>.row {
	align-items: center;
}
#live-wrapper .equal.width.row {
	justify-content: center;
}

.SOP-List {
	font-family: Heebo;
	font-size: 22px;
	font-weight: 500;
	line-height: 2.27;
	letter-spacing: -0.3px;
	color: #2c405a;
}

.ui.segment {
	background: none !important;
}
.ui.segments {
	border: none !important;
	box-shadow: none !important;
}

#live-wrapper .before-icon {
	margin-left: 8px;
}

.before-icon:hover .tooltip-text {
	visibility: visible !important;
	transition: visibility 50ms ease-in;
	-webkit-transition: visibility 50ms ease-in;
}

#color-0093ee {
	color: #0093ee !important;
}
#border-color-0093ee {
	border: 2px solid #0093ee !important;
	border-radius: 4px !important;
	box-shadow: none !important;
}
#color-2c405a {
	color: #2c405a;
}

.video-camera-icon > span {
	margin-left: 5px; 
}
#live-wrapper i.icon {
	display: inline !important;
	padding: 10px !important;
}

.ui.header>.icon {
	padding-top: 0 !important;
}