@import url('https://fonts.googleapis.com/css?family=Heebo');

div.warning-description {
	padding: 10px;
	border: silver 1px solid;
	border-radius: 5px;
	background-color: #efefef;
	color: #626262;
	font-family: sans-serif;
}


#live-wrapper .ui.grid>.row {
	align-items: center;
}
#live-wrapper .equal.width.row {
	justify-content: center;
}

.SOP-List {
	font-family: Heebo;
	font-size: 22px;
	font-weight: 500;
	line-height: 2.27;
	letter-spacing: -0.3px;
	color: #2c405a;
}

.ui.segment {
	background: none !important;
}
.ui.segments {
	border: none !important;
	box-shadow: none !important;
}

#live-wrapper .before-icon {
	margin-left: 8px;
}

.before-icon:hover .tooltip-text {
	visibility: visible !important;
	transition: visibility 50ms ease-in;
	-webkit-transition: visibility 50ms ease-in;
}

.ui.header>.icon {
	padding-top: 0 !important;
}

@media (max-width: 768px) {
	#add-camera-form .field {
		padding-left: 0;
		padding-right: 0;
	}
}
.text-right {
	text-align: right;
}

#camera-list-module #live-wrapper {
	background: #e2e2e2;
}

/* modal styles  */
.ui.page.modals {
	overflow: auto !important;
}
.ui.page.modals .header {
	font-size: 1.2rem;
	line-height: 2.1em;
	font-weight: 700;
}

/* module-header styles  */
#camera-list-module .module-header-btn-group .icon.button:hover {
	background: #0093ee !important;
}
#camera-list-module .module-header-btn-group .icon.button:hover i {
	color: #fff !important;
}
#camera-list-module i.icon {
	display: inline !important;
	padding: 10px !important;
}

/* table styles  */
#camera-list-module #thead {
	border-bottom: none !important;
}
#camera-list-module #scroll-table {
	border: solid 1px #b7d2e5;
}
#camera-list-module #scroll-table table {
	border: none !important;
	margin-top: 0;
}
#camera-list-module .table {
	margin-top: 10px;
}
#camera-list-module .ui.table {
	border: solid 1px #b7d2e5;
}
#camera-list-module .ui.table tr {
	min-height: 50px;
}
#camera-list-module .ui.striped.table tbody tr:nth-child(2n), .ui.striped.table>tr:nth-child(2n) {
    background-color: rgba(235, 235, 235, .5);
}
#camera-list-module .ui.table th {
  font-family: Heebo;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.42;
  letter-spacing: 1.9px;
  color: #8dabc4;
  border-left: none;
}
#camera-list-module .ui.table td {
	border-left: none;
	min-height: 11px;
	font-family: Heebo;
	font-size: 13px;
	line-height: 1.46;
	color: #3f536e;
}


/* table row styles  */
#camera-list-module button.trash-icon {
	transition: all 100ms ease-in;
}
#camera-list-module button.trash-icon:hover {
	transform: scale(1.5);
}