.detail-body {
    position: absolute;
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
    font-size: 18px;
    font-weight: 700;
    background-color: #FFFFFF;
}
.detail-header {
    text-align: left;
    width: 100%;
    height: 3%;
    padding: 5px;
}
.detail-body {
    position: relative;
    width: 100%;
    height: 92%;
}
.detail-footer {
    text-align: center;
    width: 100%;
    height: 5%;
}
.detail-button {
    -moz-box-shadow: inset 0px 1px 0px 0px #fff6af;
    -webkit-box-shadow: inset 0px 1px 0px 0px #fff6af;
    box-shadow: inset 0px 0px 0px 0px #fff6af;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #A0A0A0), color-stop(1, #B0B0B0));
    background: -moz-linear-gradient(top, #A0A0A0 5%, #B0B0B0 100%);
    background: -webkit-linear-gradient(top, #A0A0A0 5%, #B0B0B0 100%);
    background: -o-linear-gradient(top, #A0A0A0 5%, #B0B0B0 100%);
    background: -ms-linear-gradient(top, #A0A0A0 5%, #B0B0B0 100%);
    background: linear-gradient(to bottom, #f4f4f4 5%, #f4f4f4 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffec64', endColorstr='#ffab23',GradientType=0);
    background-color: #fff;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 0px;
    border: 2.5px solid #bbb;
    display: inline-block;
    cursor: pointer;
    color: #414141;
    vertical-align: middle;
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
    font-size: 18px;
    font-weight: 600;
    padding: 5px 30px 5px 30px;
    margin: 3px 5px 3px 5px;
    text-decoration: none;
    outline: 0;
}
.detail-button:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #C0C0C0), color-stop(1, #D5D5D5));
    background:-moz-linear-gradient(top, #C0C0C0 5%, #D5D5D5 100%);
    background:-webkit-linear-gradient(top, #C0C0C0 5%, #D5D5D5 100%);
    background:-o-linear-gradient(top, #C0C0C0 5%, #D5D5D5 100%);
    background:-ms-linear-gradient(top, #C0C0C0 5%, #D5D5D5 100%);
    background:linear-gradient(to bottom, #C0C0C0 5%, #D5D5D5 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffab23', endColorstr='#ffec64',GradientType=0);
    background-color:#D0D0D0;
}
.detail-button.disabled {
    color: #bbb;
}
.detail-footer > .detail-button {
    position:relative;
    float: right;
    top: 50%;
    transform: translateY(-50%);
}
.detail-footer > .detail-button:active {
    top:1px;
    top: 50%;
    transform: translateY(-45%);
}
.detail-error {
    position:relative;
    float: left;
    top: 50%;
    color: #FF0000;
}
.detail-container {
    padding: 2px;
}
.detail-search-style {
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
    font-size: 20px;
    font-weight: 900;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 12px;
    border:5px solid #434343;
    background-color:#FAFAFA;
    outline: 0;
}
.detail-inner-style {
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
    font-size: 16px;
    font-weight: 300;
    /* border: 5px solid #434343; */
    background-color: #ECECEC;
    outline: 0;
}
.detail-input-style {
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
    font-size: 18px;
    font-weight: 500;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 0px;
    border: 3px solid #bbb;
    background-color: #fff;
    margin-left: 3px;
    outline: 0;
}
.detail-metric-title-style {
    height: 100%;
    background-color:#C0C0C0;
    outline: 0;
}
.detail-metric-title-style p {
    display: table-cell;
    vertical-align: middle;
    padding-left: 10px;
}
.detail-metric-content-style {
    height: 100%;
    background-color:#EDECEC;
    outline: 0;
}
.detail-outer-style {
    background-color: #f4f4f4;
    outline: 0;
}
.detail-clip {
    position: absolute;
    overflow: hidden;
}
