.job {
    position: absolute;
    -webkit-border-radius: 140px;
    -moz-border-radius: 140px;
    border-radius: 140px;
    color: #000000;
    background-color: #FFFFFF;
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
    font-size: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height : 120px;
    text-align : center;
}
.job-input-align {
    display: table-cell;
    vertical-align: middle;
}
.job-input-align input {
    width: 100%;
    border: none;
    background-color: transparent;
    text-align: center;
}
.processor {
    border: 10px solid #9467bd;
}
.feeder {
    border: 10px solid #E69544;
}